# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/

# Virtual Environment
.venv/
venv/

# Tests & Docs
tests/
docs/

# OS
.DS_Store
Thumbs.db


.venv/
.git/
.gitignore
.vscode/
.idea/

evaluation/
benchmarks/
logs/
output/
op.txt
*.log

.env